
@{
    ViewBag.Title = "Index";
}

<h2>MVVM Demo</h2>
<a href="@Url.Action("KOIndex","User")" style="font-size:large">Knockout</a><br />
<a href="@Url.Action("VueIndex","User")" style="font-size:large">Vue</a>

